@charset "UTF-8";

h1 {
	color: #262C55;
}

h2 {
	color: #54839F;
}

table {
	border-collapse: collapse;
}

table th {
	background: #54839F;
	border: solid 1px #ccc;
	color: #fff;
	padding: 10px;
}

table td {
	border: solid 1px #ccc;
	padding: 10px;
}

.edit {
	color: #54839F;
	background-color: #B4DE85;
	border: none;
}

.delete {
	color: #54839F;
	background-color: #B1E9CD;
	border:#B1E9CD;
}

.check{
	text-decoration: line-through;
	color: gray;
}