<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>ToDoリスト</title>
<meta charset="utf-8" />
<link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
	<h1 th:text="${title}"></h1>
	<form method="get" action="#" th:action="@{/confirm}" th:object="${input}" class="box">
		<p>
			タスクの種類：<input type="text" name="taskType" placeholder="プロジェクトA" th:value="*{taskType}"  class="box">
		</p>
		<p>
			タスク：<input type="text" name="taskName" placeholder="進捗の報告" th:value="*{taskName}"  class="box">
			<span th:if="${#fields.hasErrors('taskName')}" th:errors="*{taskName}" class="error"></span>
		</p>
		<p>
			期日：<input type="date" name="dueDate" placeholder="2023年5月27日" th:value="*{dueDate}"  class="box">
			<span th:if="${#fields.hasErrors('dueDate')}" th:errors="*{dueDate}" class="error"></span>
		</p>
		<p>
			コメント：<input type="text" name="comment" placeholder="山田さんと佐藤さん" th:value="*{comment}" class="box">
		</p>
		<input type="submit" value="送信" class="botan">
	</form>
</body>

</html>