<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Hello</title>
<meta charset="utf-8" />
<link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
	<h1 th:text="${title}"></h1>
	<form method="get" action="#" th:action="@{/confirm}"
		th:object="${input}">
		<p>
			タスクの種類：<input type="text" name="taskType" placeholder="プロジェクトA" th:value="*{taskType}" >
		</p>
		<p>
			タスク：<input type="text" name="taskName" placeholder="進捗の報告" th:value="*{taskName}" >
		</p>
		<p>
			期日：<input type="text" name="dueDate" placeholder="2023年5月27日" th:value="*{dueDate}" >
		</p>
		<span th:if="${#fields.hasErrors('taskName')}" th:errors="*{taskName}"></span>
		<p>
			コメント：<input type="text" name="comment" placeholder="山田さんと佐藤さん" th:value="*{comment}">
		</p>
		<span th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}"></span>
		<input type="submit" value="送信">
	</form>
</body>

</html>