<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>ログイン</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
    <h1>ログイン</h1>
    <form method="post" action="/login">
        <p>
            ユーザー名：<input type="text" name="logId" required>
        </p>
        <p>
            パスワード：<input type="password" name="pass" required>
        </p>
        <p>
            <input type="submit" value="ログイン">
        </p>
        <p th:text="${result}"></p>
    </form>
</body>

</html>