<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>todoリスト</title>
<link rel="stylesheet" th:href="@{/style2.css}">
</head>
<body>
	<header>
		<div class="container">
			<div class="header-left">
				<h1>todoリスト</h1>
			</div>
			<div class="header-right">
				<a href="/signup">新規登録</a> <a href="/login" class="login">ログイン</a>
			</div>
		</div>
	</header>
	<div class="main">
		<div class="copy-cntainer">
			<h2>
				TO <span>D</span>O リスト
			</h2>
			<div class="lessons">
				<div class="lesson">
					<div class="lesson-icon">
						<img
							src="https://www.linustock.com/images/uploads/2018/04/1524649956.png"
							alt="Image syorui">
					</div>
				</div>
				<div class="lesson">
					<div class="lesson-icon">
						<img
							src="https://www.linustock.com/images/uploads/2018/03/1520225331.png"
							alt="Image goal">
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="contact">
		<h5 class="title">お問い合わせ</h5>
		<p>メールアドレス（必須）</p>
		<input type="text" />
		<p>お問い合わせ内容（必須）</p>
		<textarea></textarea>
		<p>※必須項目は必ずご入力ください</p>
		<input class="submit" type="submit" value="送信" />
	</div>

	<footer>
		<h6>todoリスト</h6>
		<div class="list">
			<ul>
				<li>インターネットアカデミー</li>
				<li>チーム５</li>
				<li>Special Thanks Mr.谷川</li>
			</ul>
		</div>
	</footer>
</body>
</html>
