<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<title>Hello</title>
<meta charset="utf-8" />
<link rel="stylesheet" th:href="@{/style.css}">

</head>

<body>
	<h1 th:text="${title}"></h1>
	<form method="get" action="/search">
		<p>
			タスクの種類検索：<input type="text" name="search">
		</p>
		<input type="submit" value="検索">
	</form>
	
	<form method="get" action="/datesearch">
		<input type="hidden" name="sort" value="">
		<p>
			期日検索：<input type="date" name="start" value="2023-05-27"
				th:value="*{start}"> ～ <input type="date" name="end"
				value="2023-08-27" th:value="*{end}">
		</p>
		<input type="submit" value="検索">
	</form>
	
	<form method="get" action="#" th:action="@{/sort}">
		<button type="submit" name="sort" value="ASC">昇順</button>
		<button type="submit" name="sort" value="DESC">降順</button>
	</form>

	<table>
		<tr>
			<th></th>
			<th>id</th>
			<th>タスクの種類</th>
			<th>タスク</th>
			<th>期日</th>
			<th>コメント</th>
			<th></th>
			<th></th>
		</tr>
		<tr th:each="res : ${dbList}">
			<td>
				<form th:action="@{/comp/{id}}">
					<input type="checkbox" class="check" />
				</form>
			</td>
			<td th:text="${res.id}">1</td>
			<td th:text="${res.taskType}">タスクの種類</td>
			<td th:text="${res.taskName}">タスク</td>
			<td
				th:class="${res.dueDate.isEqual(nowDate) ? 'yellow' : (res.dueDate.isBefore(nowDate) ? 'red' : '')}">
				<span th:text="${res.dueDate}">期日</span>
			</td>
			<td th:text="${res.comment}">コメント</td>
			<td>

				<form th:action="@{/edit/{id}(id=${res.id})}">
					<input type="submit" class="edit" value="編集">
				</form>
			</td>
			<td>
				<form th:action="@{/del/{id}(id=${res.id})}">
					<input type="submit" class="delete" value="削除" />
				</form>
			</td>
		</tr>
	</table>
	<p>
		<a href="/form" th:href="@{/form}">タスク追加</a>
	</p>
</body>

</html>